<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Autocomplete - Default functionality</title>
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script>
        $(function () {

            var ids = [];



            function log(alimento,id ) {

               
       
                ids.push(id);
                ids.cle

                $("#cabecera").after("<tr><td>" + alimento +"</td></tr>");
            }

            $("#AlimentoStr").autocomplete({
                source: "/Receta/BuscarAlimentos",
                select: function( event, alimento ) {
                    log("Seleccionado"+alimento.item.value, alimento.item.id );
                    }
            });
            console.log("asd");
            $("#buscar").click(function () {

                var url = '@Url.Action("BuscarRecetas","Receta")';
                //var json = JSON.stringify(ids);
                $.ajax({
                    type: 'GET',
                    traditional : true,
                    url: url,
                    data : {ids}
                }).success(function(parcial) {
                    
                });
            });


        });

        $(document).on("click",
            "#btn-Seleccionar",
            function () {
                $("#listaAlimentos").append($("#AlimentoStr").val());
            });

    </script>
</head>
<body>
 
<div class="ui-widget">
    <label for="AlimentoStr">Buscar: </label>
    <input id="AlimentoStr">
    <div id="btn-Seleccionar" class="btn btn-default" type="button">Seleccionar</div>
</div>
 
    
<div class="ui-widget" style="margin-top:2em; font-family:Arial">
    Result:
    <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
</div>
    
<button id="buscar" class="btn btn-primary"></button>

<table id="listaAlimentos">
    <tr class="cabecera-tabla" id="cabecera">
        <th>
        Descripcion
        <th>
    </tr>

    
</table>
 
</body>
</html>