@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Error</h4>
</div>

<h4 style="text-align: center">Se ha producido un error al realizar la solicitud. Verifique los datos e intente nuevamente.</h4>

