<div class="container">
    <div class="row">

        <div class="col-md-6">
            <div>
                <h2 style="color: #89bc94;">Curva de peso</h2>
            </div>
            <div>
                <canvas id="myChart" width="1000" height="500"></canvas>
            </div>
            <div style="text-align: center">
                <p style="color: black; font-weight: bold;" id="mensajePeso1"></p>
                <p style="color: black; font-weight: bold;" id="mensajePeso2"></p>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h2 style="color: #89bc94;">Turnos</h2>
            </div>
            <div>
                <canvas id="turnosChart" width="1000" height="500"></canvas>
            </div>
        </div>

    </div>
</div>
    <script type="text/javascript">


        var graficoAntropometrico = datos => {

            let fechas = $.map(datos, (val, i) => {
                return val.Fecha;
            });

            let pesos = $.map(datos, (val, i) => {
                return parseFloat(val.Peso);
            });

            let backColor = $.map(datos, (val, i) => {
               return val.BackColor;
            });

            let borderColor = $.map(datos, (val, i) => {
              return val.BorderColor;
            });

            var max = 0;
            var min = 0;

            $.each(pesos, (index, val) => {
                if (index == 0) {
                    max = val;
                    min = val;
                } else {
                    if (val > max) {
                        max = val;
                    }
                    if (val < min) {
                        min = val;
                    }
                }
            });

            console.log("MAXIMO: " + max + " MINIMO: " + min);

              var ctx = document.getElementById('myChart').getContext('2d');

            var datosAntropometricos = new Chart(ctx,
                {
                    type: 'line',
                    data: {
                        labels: fechas,
                        datasets: [
                            {
                                label: 'Curva de peso',
                                fill: false,
                                data: pesos,
                                backgroundColor: backColor,
                                borderColor: borderColor,
                                borderWidth: 1
                            }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: false,
                                    min: min - 30,
                                    max: max + 10,
                                    stepSize: 5
                                }
                            }]
                        }
                    }
                });

        }

        var graficoTurnos = datos => {

            let descripcion = $.map(datos, (val, i) => {
                return val.Descripcion;
            });

            let color = $.map(datos, (val, i) => {
                return val.Color;
            });

            let cantidad = $.map(datos, (val, i) => {
               return val.Cantidad;
            });

            

            

              var ctx = document.getElementById('turnosChart').getContext('2d');
            
              var turnos = new Chart(ctx,
                {
                    type: 'bar',
                    data: {
                        labels: descripcion,
                        datasets: [
                            {
                                label: 'Turnos',
                                fill: true,
                                data: cantidad,
                                backgroundColor: color,
                                borderColor: color,
                                borderWidth: 1
                            }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    stepSize: 1
                                    
                                }
                            }],
                             xAxes: [{
                                barThickness: 30
                            }]
                        }
                    }
                });

        }

        var obtenerDatosAntropometricos = () => {
            $.get('@Url.Action("ObtenerDatosAntropometricos","Estadisticas")', { pacienteId : @ViewBag.PacienteId }, datos => {

                graficoAntropometrico(datos);

                console.log("Primero: " + datos[0].Peso);

                console.log("Ultimo: " + datos[datos.length - 1].Peso);

                var mensaje = "Sin registros";
                var mensaje2 = "Sin registros";

                if (datos.length > 1) {
                    var primerPeso = datos[0].Peso;
                    var ultimoPeso = datos[datos.length - 1].Peso;
                    var penultimoPeso = datos[datos.length - 2].Peso;

                    var diferencia = primerPeso - ultimoPeso;

                    var diferencia2 = penultimoPeso - ultimoPeso;
                    

                    if (diferencia == 0) {
                        // Sigue igual
                        mensaje = "No varió su peso desde la primera medición";
                    }
                    if (diferencia > 0) {
                        // Bajo
                        mensaje = "Bajó " + diferencia + "Kg desde la primera medición";
                    }
                    if (diferencia < 0) {
                        // Subio
                        mensaje = "Subió " + (diferencia*-1) + "Kg desde la primera medición";
                    }

                    if (diferencia2 == 0) {
                        // Sigue igual
                        mensaje2 = "No varió su peso en las ultimas dos mediciones";
                    }
                    if (diferencia2 > 0) {
                        // Bajo
                        mensaje2 = "Bajó " + diferencia2 + "Kg desde la ultima medición";
                    }
                    if (diferencia2 < 0) {
                        // Subio
                        mensaje2 = "Subió " + (diferencia2*-1) + "Kg desde la ultima medición";
                    }
                }

                $("#mensajePeso1").empty().append(mensaje);
                $("#mensajePeso2").empty().append(mensaje2);
            });
        }
        var obtenerTurnos = () => {
            $.get('@Url.Action("ObtenerTurnosPorPaciente","Estadisticas")', { pacienteId : @ViewBag.PacienteId }, datos => {

                graficoTurnos(datos);
            });
        }
       
        $(function () {

            obtenerDatosAntropometricos();
            obtenerTurnos();

        });

    </script>   



