@model NutricionWeb.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

    <div class="titulo-ABM">
        <h4 class="detail-h4">Cuenta</h4>
    </div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Contraseña:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Cambiar contraseña", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Crear contraseña", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
