@model IEnumerable<NutricionWeb.Models.Turno.TurnoViewModel>

@{
    ViewBag.Title = "Calendario";
}
<div class="titulo-ABM">
    <h4 class="detail-h4">Calendario de Turnos</h4>
</div>

<p>
    @Html.ActionLink("Nuevo", "Create", "Turno", new { }, new { @class = "btn btn-primary-custom" })
    @Html.ActionLink("Lista de turnos", "Index", "Turno", new { }, new { @class = "btn btn-primary-custom" })
</p>
<div id="calendar"></div>
<script src="~/Scripts/jquery-1.12.4.js"></script>
<link href="~/Content/fullcalendar.css" rel="stylesheet" />

@section scripts {
    <script>
        $(document).ready(function () {
            var events = [];
            fetchEventAndRenderCalendar();
            // page is now ready, initialize the calendar...

        
            function fetchEventAndRenderCalendar() {
                events = [];
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetTurnos","Turno")",
                    success: function(data) {
                        $.each(data,
                            function(i, v) {
                                events.push({
                                    eventID: v.Id,
                                    title: v.Hora + " - " + v.PacienteStr,
                                    description: v.Motivo,
                                    start: v.Fecha,
                                    end: v.fecha,
                                    pacienteID: v.PacienteId,
                                    color: v.EstadoColor,
                                    url : '@Url.Action("Edit","Turno")/?id='+v.Id+'&volver=1'
                                });
                            });
                        generateCalender(events);
                    }
                });
            }
            function generateCalender(events) {
                $('#calendar').fullCalendar({
                    contentHeight: 500,
                    //defaultDate: new Date(),
                    //timeFormat: 'H(:mm)',
                    eventLimit: true,
                    events: events
                });
            }


        });
    </script>
}
