@using System.Web.UI.WebControls
@model IEnumerable<NutricionWeb.Models.Turno.TurnoViewModel>

@{
    ViewBag.Title = "Calendario";
}
<div class="titulo-ABM">
    <h4 class="detail-h4">Calendario de Turnos</h4>
</div>

<p>
    @Html.ActionLink("Nuevo", "Create", "Turno", new { }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Administrar Turnos", "Index", "Turno", new { }, new { @class = "btn btn-primary" })
</p>
<div id="calendar"></div>
<script src="~/Scripts/jquery-1.12.4.js"></script>
<link href="~/Content/fullcalendar.css" rel="stylesheet" />


<script>
    $(document).ready(function () {
        var events = [];
        fetchEventAndRenderCalendar();
        // page is now ready, initialize the calendar...

        
        function fetchEventAndRenderCalendar() {
            events = [];
        $.ajax({
            type: "GET",
            url: "/turno/GetTurnos",
            success: function(data) {
                $.each(data,
                    function(i, v) {
                        events.push({
                            eventID: v.Id,
                            title: "hs" +": "+ v.PacienteStr,
                            description: v.Motivo,
                            start: moment(v.HorarioEntrada),
                            pacienteID: v.PacienteId,
                        });
                    });
                generateCalender(events);
            }
            });
           }
        function generateCalender(events) {
            $('#calendar').fullCalendar({
                contentHeight: 500,
                defaultDate: new Date(),
                timeFormat: 'H(:mm)',
                eventLimit: true,
                eventColor: ' #34495e',
                events: events
            })
        }
    });
</script>