@{
    ViewBag.Title = "Home Page";
}
<p class="text-success">@ViewBag.StatusMessage</p>

<div class="jumbotron">
    <h1>POWER NUTRITION</h1>
    <p class="lead">POWER NUTRITION es un software desarrollado por el Doctor Homsi con apoyo moral de Hugo el Mordechotas y Don Granollo.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Contacto</h2>
        <p>
            En el siguiente enlace podrá encontrar toda la información necesaria sobre el establecimiento.
        </p>
        <p><a class="btn btn-default" href="/Establecimiento/Details/1">Leer mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    @if (User.IsInRole("Paciente"))
    {
        <div class="col-md-4">
            <h2>Ver mi perfil</h2>
            <p>En el siguiente enlace podrá ver sus datos personales, planes alimenticios, datos clinicos y próximos turnos.</p>
            <p>@Html.ActionLink("Leer mas", "Details", "Paciente", new { email = User.Identity.Name }, new { @class = "btn btn-default" })</p>
        </div>
    }
    
</div>