@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align: center;">
    <div class="img-portada"><img class="img-responsive" src="~/Content/Imagenes/logo-novillo.png" /></div>
    
    <h1 style="font-weight: bold; color: #89bc94;" align="center">POWER NUTRITION</h1>
</div>

<div class="row" style="margin: 0 15em;">
    <div class="col-md-4">
        <a href="https://instagram.com/ezequiel.tosi" target="_blank">
            <i class="fab fa-7x fa-instagram " style="color: #89bc94"></i>
        </a>
    </div>
    <div class="col-md-4">
        <a href="https://facebook.com" target="_blank">
            <i class="fab fa-7x fa-facebook " style="color: #89bc94"></i>
        </a>
    </div>
    <div class="col-md-4">
        <a href="https://twitter.com" target="_blank">
            <i class="fab fa-7x fa-twitter " style="color: #89bc94"></i>
        </a>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <h2 style="color: #89bc94;">Contacto</h2>
        <p>
            En el siguiente enlace podrá encontrar toda la información necesaria sobre el establecimiento.
        </p>
        <p><a class="btn btn-default" href="/Establecimiento/Details/1">Leer mas</a></p>
    </div>
    <div class="col-md-4">

    </div>
    @if (User.IsInRole("Paciente"))
    {
        <div class="col-md-4">
            <h2>Ver mi perfil</h2>
            <p>En el siguiente enlace podrá ver sus datos personales, planes alimenticios, datos clinicos y próximos turnos.</p>
            <p>@Html.ActionLink("Leer mas", "Details", "Paciente", new { email = User.Identity.Name }, new { @class = "btn btn-default" })</p>
        </div>
    }

</div>
