@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Regular'), url('Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat ExtraLight'), url('Montserrat-ExtraLight.woff') format('woff');
}

.regular {
    font-family: 'Montserrat Regular';
    color: black;
}

.light {
    font-family: 'Montserrat ExtraLight';
    color: black;
}

.bold {
    font-weight: bold;
}

.titulo-reporte {
    font-weight: bold;
}

.titulo-categoria {
    font-weight: bold;
    background-color: #89bc94;
    width: fit-content;
    font-size: 1.5em;
}