body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("/Content/Imagenes/better.jpg")
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: ghostwhite;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select {
    max-width: 280px;
}


textarea {
    max-width: 280px;
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.row-plan {
    border: 1px solid #ccc;
    border-radius: 4px;
}
.row-plan {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 1px;
}
.detail-h4 {
    font-size: 35px;
    text-align: center;
    border: 2px solid #337ab7;
    width: 50%;
    margin-left: 25%;
    border-radius: 4px;
    background-color: floralwhite;
}

.detail-h3 {
    font-size: 25px;
    text-align: center;
    border: 2px solid #337ab7;
    width: 30%;
    margin-left: 35%;
    border-radius: 4px;
    background-color: floralwhite;
}

.detail-plan-h4 {
    font-size: 35px;
    text-align: center;
    border: 2px solid #337ab7;
    width: 65%;
    margin-left: 17%;
    border-radius: 4px;
    background-color: floralwhite;
}
.titulo-ABM {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #337ab7;
    text-align: left;
}

.create-h4 {
    font-size: 35px;
    text-align: center;
    border: 2px solid #337ab7;
    width: 50%;
    margin-left: 17%;
    border-radius: 4px;
    background-color: floralwhite;
}
.info-style{
    font-weight: bold;  
    font-size: 22px;    
}
.sub-info {
    font-weight: normal;
    color: #337ab7;
    font-size: 19px;
}
.cabecera-tabla {
    background-color: #C2D8FA;
    border: 2px solid #337ab7;
    border-radius: 4px;
}
.navbar-lay {
    background-color: #337ab7;
}
.th-index{
    color: white;
    text-shadow: 0 0 2px black;
}

.nav.nav-tabs li.active a{
    border-top: 3px solid blue;

}


.nav.nav-tabs li a {
    margin-top: 10px;
} 