@model NutricionWeb.Models.GrupoReceta.GrupoRecetaViewModel

@{
    ViewBag.Title = "Details";
}

<div class="titulo-ABM">
    <h4 class="detail-h4">Grupo de Recetas</h4>
</div>

<div class="row">
    <hr />
    <div class="col-md-7">

        <p class="info-style">
            @Html.DisplayNameFor(model => model.Descripcion):
            <span class="sub-info">

                @Html.DisplayFor(model => model.Descripcion)
            </span>

        </p>
    </div>

</div>
<p style="margin-top: 15px; margin-left: 10px">
    @Html.ActionLink("Actualizar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-default" })
</p>