@model NutricionWeb.Models.Opcion.BuscarRecetaViewModel

@{
    ViewBag.Title = "BuscarRecetasPorAlimentos";
}

<h2>Buscar Recetas Por Alimentos</h2>


@using (Html.BeginForm())
{
    @Html.ListBoxFor(model => model.AlimentosSeleccionados, new MultiSelectList(Model.Alimentos, "Id", "Descripcion"), new { id = "multiSelectFood", multiple = "multiple" })
    <input type="submit" name="name" value="Buscar"/>
}

<div id="partialReceta">
    
</div>

@section scripts
{
    <script>
        $(function() {
            $("#multiSelectFood").chosen({
                width: "900"
            });
        });

        function listaReceta() {
            $("#partialReceta").empty();

            $.get('@Html.Raw(Url.Action("RecetasFiltradas", "Opcion"))',
                {
                },
                function (listaReceta) {
                    $("#partialReceta").append(listaReceta);
                });
        }
    </script>
}
