@model IEnumerable<NutricionWeb.Models.ComidaDetalle.ComidaDetalleViewModel>

<style>

    .tarjeta {
        margin-bottom: 30px;
        padding: 15px;
    }

    .tarjeta-columna {
        border: 1px solid #89bc94;
        border-radius: 5px;
        min-height: 200px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .tarjeta-titulo {
        color: #89bc94;
        font-weight: bold;
        font-size: 1.3em;
    }

    .tarjeta-texto {
        margin-top: 20px;
    }

</style>

@foreach (var comidaDetalle in Model)
{

    <div class="col-md-3 tarjeta-columna">
        <div class="card">
            <div class="card-body">
                
                <h5 class="tarjeta-titulo">@comidaDetalle.OpcionStr</h5>
                <div class="tarjeta-texto">
                    @foreach (var opcionDetalle in comidaDetalle.Opcion.OpcionDetalles)
                    {


                        @($"• {opcionDetalle.AlimentoStr} - {opcionDetalle.CantidadMostrar}")


                        @:<br/>

                    }
                </div>
            </div>
        </div>
    </div>

}

    

